// .gallery {
//   color: red;
//   .gallery_list {
//     color: blue;
//   }
//   .gallery_image {
//     color: orange;
//   }
// }  ///css 문법
.gallery {
  color: red;
  &__list {
    color: blue;
  }
  &__image {
    color: orange;
  }
} //sass는 &__로 하위 클래스 추가 가능
